*.*

!README.md

# phase portraits
!phase_portraits/**
phase_portraits/__pycache__

# model derivation
!model_derivation/*
model_derivation/.ipynb_checkpoints

# matlab
!matlab/**
matlab/zasady_dystrybucji.txt

# python animations
!1_ip_animation_python/**
!2_ip_aniamtion_python/**